@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
html {
  scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}
.nav {
  height: 50px;
  width: 95%;
  background-color: #78C7E8;
  position: relative;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin: 1rem auto;
  justify-content: space-around;
  padding: 2rem 0;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 2rem;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 0.9rem;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.nav > .nav-links > a:hover {
	color:#2a9d8f;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:750px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
    margin: 8px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: #78C7E8;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #78C7E8;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(40vh - 50px);
    overflow-y: auto;
  }

	.new-section__item{
		display: block !important;
		font-size: 0.9rem;
		margin-bottom: 0.5rem;
	}
}

/*
	Banner Section 
*/
.banner-image{
	max-width: 70%;
}
.banner-box-image{
	display: flex;
	justify-content: center;
}
.banner-box__content, .news-section{
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	width: 70%;
}
.banner-box__header, .news-header{
	border-left: 5px solid #78C7E8;
	margin-top: 1rem;
	padding-left: 0.5rem;
	text-transform: uppercase;
}
.line{
	background-color: #78C7E8;
	height: 3px;
	margin-top:.5rem;
	width: 100%;
}
.banner-box__description{
	margin: 1rem 0;
	font-size: 0.9rem;
}
.news-section__items{
	margin: 1rem 0;
}
.new-section__item{
	display: flex;
	font-size: 0.9rem;
	gap: 12px;
}
.footer-section{
	display:flex;
	justify-content: center;
	padding: 1rem;
	background-color: #78C7E8;
	width: 95%;
	margin: 1rem auto;
}
.news-section__more{
	font-size: 0.8rem;
	color: #78C7E8;
}
.news-section__moreBox{
	display: flex;
	justify-content: flex-end;
}
.new-section__date{
	width: 100px;
}
.triangle-icon {	  
  	border-left: solid 4px #FFFFFF;
  	border-bottom: solid 4px transparent;
  	border-top: solid 4px transparent;
}
.triangle-box{
	height: auto;
	background-color: #78C7E8;
	padding: 0.3rem;
	margin-right: 0.5rem;
	border-radius: 3px;
	width:20px;
	display: flex;
	justify-content: center;
}
.footer-item{
	font-weight: bold;
	color: #ffffff;
}